
body{
    background-color: rgb(162, 164, 164);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    letter-spacing: 4.5px;
 }
 div{
    text-align: center;
    background-color: rgb(11, 244, 189);
    outline-color: blue;
    outline-style: groove;
    height: 300px;
 }body{
    font-family: sans-serif;
    color: black;
}
main{margin: 24px;}
img{ 
    float: left;
    margin: 12px 12px 12px 0px;
    border-radius: 5rem 5rem 5rem 5rem;
}
main > *{
    border: solid 1px #bfbfbf;
    padding: 15px;
}
p{ text-transform:lowercase ;}